*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#081b29;
    color:white;
    font-family:'Poppins',sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
}

.logo{
    font-size:30px;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    padding:80px 10%;
    min-height:100vh;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:60px;
    margin:10px 0;
}

.hero-text h2{
    margin-bottom:20px;
}

.hero-text span{
    color:#00abf0;
}

.hero-text p{
    line-height:1.8;
    margin-bottom:30px;
}

button{
    padding:14px 30px;
    border:none;
    background:#00abf0;
    color:white;
    border-radius:30px;
    font-size:16px;
}

.hero-image{
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #00abf0;
    box-shadow:0 0 30px #00abf0;
}

section{
    padding:80px 10%;
}

section h1{
    font-size:50px;
    margin-bottom:40px;
}

.about-box,
.skill-box,
.project-box,
.contact-box{
    background:#112e42;
    padding:30px;
    border-radius:20px;
}

.skills-container,
.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.skill-box h2,
.project-box h2{
    color:#00abf0;
    margin-bottom:15px;
}

.contact-box{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:60%;
}

.contact-box input,
.contact-box textarea{
    padding:15px;
    border:none;
    border-radius:10px;
}